@page "/models/create"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime js
@attribute [Authorize]


<h3 class=card-title>Sett inn ny modell</h3>
<hr />
<br />

<EditForm Model="@model" OnValidSubmit="CreateModel">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class=form-group>
        <label>Navn: </label>
        <div>
            <InputText @bind-Value="@model.Name" class="form-control" />
            <ValidationMessage For="@(() => model.Name)" />
        </div>
    </div>
        <button type="submit" class="btn btn-success btn-block">Lagre Modell</button>
</EditForm>


@code {

}
