@page "/bookings/edit/{id:int}"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit</h3>

<FormComponent ButtonText="Update Booking" OnValidSubmit="@EditBooking" booking="booking" />

@code {
}
