@page "/bookings/view/{id:int}"
    customer
    @inject HttpClient _client
    @inject NavigationManager _navManager

    <h3>View</h3>

    <FormComponent booking="booking" Disabled="true" />

    @code {
    }
